<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/lib/bootstrap.css'></link>
    <link rel='stylesheet' href='/stylesheets/wodgenerator.css'></link>
  
    <script src="/javascripts/lib/jquery-1.7.2.min.js"></script>
    <script src="/javascripts/lib/underscore-min.js"></script>
    <script src="/javascripts/lib/backbone-min.js"></script>
    <script src="/javascripts/lib/backbone.layoutmanager.js"></script>
    <script src="/javascripts/lib/bootstrap-modal.js"></script>
    <script src="/javascripts/wodgenerator.js"></script>
    <script src="/javascripts/exercises.js"></script>

    <script src="/javascripts/persistence.js"></script>
  </head>
  <body>
  <%- body %>
  </body>
</html>
