!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/wodgenerator.css')
  
    script(src="/javascripts/lib/jquery-1.7.2.min.js");
    script(src="/javascripts/lib/underscore-min.js");
    script(src="/javascripts/lib/backbone-min.js");
    script(src="/javascripts/lib/backbone.layoutmanager.js");
    script(src="/javascripts/lib/bootstrap-modal.js");
    script(src="/javascripts/wodgenerator.js");
    script(src="/javascripts/exercises.js");
    script(src="/javascripts/persistence.js");

  body!= body
